@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 37%, rgba(44,44,44,1) 43%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 72%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(37%, rgba(71,71,71,1)), color-stop(43%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(72%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 37%, rgba(44,44,44,1) 43%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 72%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 37%, rgba(44,44,44,1) 43%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 72%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 37%, rgba(44,44,44,1) 43%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 72%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 37%, rgba(44,44,44,1) 43%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 72%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );       
}


.logo {
    margin-left: 50px;
    padding-top: 10px;
    width: 130px;
}

:hover .logo {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.erro2 {
    display: flex;  
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 15%;
}

.lado-esquerdo {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

/* AUMENTAR CAIXA DE TEXTO PARA BAIXO */
.text-area {
    height: 600px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    text-transform: lowercase;
    min-block-size: 600px;
    max-block-size: 600px;
    max-width: 695.8px;
}

::placeholder {
    color: #ffffff;
}

.text-area:focus {
    outline: none;
}

.lado-direito {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 347.9px;
    gap: 10px;
}

.mensagem {
    height: 80%;
    width: 347.9px;
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px rgb(255, 255, 255);
    border-radius: 30px 30px 0px 60px;
    border: 0px outset #000000;
    color: #ffffff;
    position: fixed;
    text-align: center;
}

.mensagem:focus {
    outline: none;
}

.lado-direito img {
    align-items: center;
    width: 347.9px;
    height: auto;
}

.sem-mensagem {
    text-align: center;
    color: #0A3871;
    line-height: 28.8px;
    font-weight: 700;
    font-size: 24px;
}

p {
    text-align: center;
    color: #0A3871;
}

.botoes {
    margin-top: 18px;
}

.btn-descriptar {
    background: #ffffff;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    height: 67px;
    position: absolute;
    width: 250px;
    margin-top: 102px;
    margin-left: 45px;
}

.informacao {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 40px;
}

.rodape {
    display: flex;
    justify-content: center;
    margin-top: 276px;
    color: white;
}